* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
body {
  /* background-color: #e5e5e5; */
  background: #E5E5E5;
}
.row {
  background-color: #fff;
}
.notice-listItem {
  text-transform: uppercase;
  padding-left: 15px;
  height: 75px;
  position: relative;
  margin-top: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #F4F4F4;
}
.notice-listItem:first-of-type:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  background: #0275B1;
border-radius: 4px 0px 0px 0px;
}

 .notice-card {
/* display: flex;
width: 850px;
left: calc(50% - 850px/2 + 165px);
height: 700px;
/* top: 171px; */
background: #FFFFFF;
box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
border-radius: 4p;
}

/* .date{
text-align: center;
font-family: sans-serif;
text-transform: uppercase;
color: #181818;
width: 500px;
display: flex;
}

.card-time{
opacity: 0.5
}

.notice-date .notice-card .card-project{
  display: flex;
}

  */


  .cycle-system{
width: 98px;
height: 50px;
left: calc(50% - 98px/2 - 511px);
top: 316px;
font-family: Gotham Pro;
font-size: 52px;
line-height: 50px;
/* identical to box height */
text-transform: uppercase;
color: #0275B1;
  }

  .numbers{
width: 98px;
height: 50px;
left: calc(50% - 98px/2 - 511px);
top: 316px;    
font-family: Gotham Pro;
font-size: 52px;
line-height: 50px;
text-transform: uppercase;
color: #0275B1;
}

.cycle{
left: calc(50% - 83px/2 - 518.5px);
top: 366px;
font-family: Gotham Pro;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
color: #181818;
}

.numbers{
font-family: Gotham Pro;
font-size: 52px;
line-height: 50px;
/* identical to box height */
text-transform: uppercase;
color: #0275B1;
}
.start{
width: 83px;
height: 11px;
left: calc(50% - 83px/2 - 370.5px);
top: 265px;
font-family: Gotham Pro;
font-size: 12px;
line-height: 11px;
text-align: right;
text-decoration-line: underline;
text-transform: uppercase;
color: #0275B1;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dashboard{
width: 121px;
height: 11px;
left: calc(50% - 121px/2 - 499.5px);
top: 265px;
font-family: Gotham Pro;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #181818;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cycle{
position: absolute;
width: 290px;
height: 360px;
left: calc(50% - 290px/2 - 445px);
top: 240px;
background: #FFFFFF;
box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
border-radius: 4px;
}
.notice-listItem:hover{
  box-shadow:0.5rem 1rem rgba(0,0,0,.15);
  transform: scale(1.005);
  /* box-shadow: 0 0 12px #0275b1; */
  background-color: #0275b1;
  border-radius: 6%;
  color: #ffff; 
}
.setting-cycle{
  margin-bottom: 25px;
}

.indication-menu{
  opacity: 0.5;
}

.comment{
width: 850px;
height: 78px;
left: calc(50% - 850px/2 + 165px);
top: 171px;
background: #FFFFFF;
box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
border-radius: 4px;
}
.dashboard:hover{
  box-shadow:0.5rem 1rem rgba(0,0,0,.15);
  transform: scale(1.005);
  background-color: #a7a7a7;
  border-radius: 6%;
  color: rgb(255, 251, 251);
  cursor: pointer;
}
.start:hover{
  box-shadow:0.5rem 1rem rgba(0,0,0,.15);
  transform: scale(1.005);
  background-color: #7b7d7e;
  border-radius: 6%;
  color: rgb(0, 140, 255);
  cursor: pointer;
}
.comment-and-like{
width: 1800px;
height: 78px;
left: calc(50% - 850px/2 + 165px);
top: 171px;
background: #FFFFFF;
box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
border-radius: 4px;
margin-top: 80px;
text-align: center;
border-radius:15%
}


.text{
  border: 1px solid #E7E7E7;
  /* width: 360px; */
height: 0px;
left: calc(50% - 360px/2 - 80px);
top: 125px;
text-align: center;
}
.btn{
  position: absolute;
  right: 250px;
}

.img{
  height:30px;
  width:30px;
  margin-left: -12px;
}

.noticies-text{
}
